/*
    CSS para o Navbar;
*/
.navbar-default {
    background-color: #808080;
    border-color:#808080;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}

.navbar-header a{
    font-size: 22px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:white;
    border-radius:5px 5px 5px 5px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #808080;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #808080;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: #808080;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: #808080;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #808080;
    border-bottom-color: #808080;
}

/*
    CSS para o Footer;
*/

footer {
    background: #808080;
    padding: 60px 0; }
footer p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); }
footer a{
    color: #3ac341;
}
footer a:hover{
    color: #3ac341;
}
footer .footer-title {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    color: white; }
footer .footer-title:after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: white;
    margin-top: 8px; }
footer .right-border {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
footer .left-border {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
@media (max-width: 991px) {
    footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 40px;
        text-align: center; }
    footer .right-border {
        border-right: none; } }
@media (max-width: 767px) {
    footer .right-border {
        border-right: none; }
    footer .left-border {
        border-left: none; }
    footer .navigation {
        margin-top: 40px;
        border-top: 1px solid white; } }
footer .footer-about {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 40px; }
footer .contact-info .single {
    margin: 15px 0; }
footer .contact-info .single i {
    display: block;
    float: left;
    color: white;
    margin-right: 10px;
    line-height: 22px; }
footer .contact-info .single p {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden; }
footer .social-icon {
    margin-top: 40px; }
footer .social-icon li a {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
footer .social-icon li a:hover {
    border-color: white;
    color: white; }
footer .social-icon li a i {
    line-height: 32px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
footer .navigation li a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none; }
footer .navigation li a:hover {
    color: white; }
footer .copyright {
    padding-top: 40px; }